<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head') %>
<body>
     <!--================Header Menu Area =================-->
    <%- include('./partials/header') %>
        <!--================End Header Menu Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2><%= service.nameService %></h2>
                    <p><%= service.typeService %></p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Challange Area =================-->
        <section class="challange_area p_100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="challange_text_inner">
                            <div class="l_title">
                                <img src="/img/icon/title-icon.png" alt="">
                                <h6>Discover this Service</h6>
                                <h2><%= service.nameService %></h2>
                            </div>
                            <p><%= service.description %></p>
                            <div class="c_video">
                                <a class="popup-youtube" href="/"><img src="/img/icon/title-icon.png" alt="">Service gallery </a>
                            </div>
                        </div>
                    </div>

                    <!-- Slider -->
                    <div class="col-lg-6 challange_img">
                        <div class="challange_img_inner">
                            <img class="img-fluid" src="<%= service.mainImg %>" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Challange Area =================-->
        
        <!--================Testimonials Slider Area =================-->
        <section class="testimonials_area">
            <div class="container">
                <div class="testimonials_slider owl-carousel">
                    <% for( let index = 0; index <service.gallery.length; index++ ) { %>
                        <div class="item">
                            <div class="testi_item">
                                <h3>Titulo <%= service.gallery[index].id %></h3>

                               <img src="<%= service.gallery[index].path %>" alt="" width="100%">
                            </div>
                        </div>
                    <% } %>
                    
                </div>
            </div>
        </section>
        <!--================End Testimonials Slider Area =================-->
        
        <!--================We Are Company Area =================-->
        <section class="we_company_area p_100">
            <div class="container">
                <div class="row company_inner">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="left_company_text">
                            <div class="l_title">
                                <img src="/img/icon/title-icon.png" alt="">
                                <h6>Discover the features</h6>
                                <h2>Service Statistics.</h2>
                            </div>
                            <div class="our_skill_inner">
                                <div class="single_skill">
                                    <h3>Statistics</h3>
                                    <div class="progress" data-value="70">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">70</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Statistics</h3>
                                    <div class="progress" data-value="90">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Statistics</h3>
                                    <div class="progress" data-value="85">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">85</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Statistics</h3>
                                    <div class="progress" data-value="90">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Statistics</h3>
                                    <div class="progress" data-value="75">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">75</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </section>
        <!--================End We Are Company Area =================-->
        
        <!--================Footer Area =================-->
        <%- include('./partials/footer') %>
        <!--================End Footer Area =================-->
    </body>
</html>