<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head') %>
<body>
     <!--================Header Menu Area =================-->
    <%- include('./partials/header') %>
        <!--================End Header Menu Area =================-->
        
        <!--================Banner Area =================-->
   <!--      <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2><%= service.nameService %></h2>
                    <p><%= service.typeService %></p>
                </div>
            </div>
        </section> -->
        <!--================End Banner Area =================-->
        
        <!--================Challange Area =================-->
        <section class="challange_area p_100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="challange_text_inner">
                            <div class="l_title">
                                <img src="/img/icon/title-icon.png" alt="">
                                <h6>Discover this <%= service.typeService %></h6>
                                <h2><%= service.nameService %></h2>

                            </div>
                            <div class="l_title">
                                <p><%= service.description %></p>
                            </div>

                            <!-- Recomendaciones ----------------------------------------->
                            
                            
                            <div class="l_title">
                                <h2>Recomendations:</h2>
                                <% if (service.recommendations.length > 0) { %>
                                    <% service.recommendations.forEach(e => { %>
                                        <p><%= e %></p>
                                    <% }) %>
                               <% } else { %>
                                <p>No recomendations.</p>
                                <% } %>
                            </div>
                            
        
                            <!-- Opcionales --------------------------------------- -->

                            <div class="l_title">
                                <h2>Optionals:</h2>
                                <% if (service.optionals.length > 0) { %>
                                    <% service.optionals.forEach(e => { %>
                                        <p><%= e %></p>
                                    <% }) %>
                               <% } else { %>
                                <p>No optionals.</p>
                                <% } %>
                            </div>

                            <div class="l_title_service">
                                <a class="more_btn_service" target="_blank" href="https://squareup.com/book/LBS9BTNDTD16A/sami-beauty-studio-miami-fl">Schedule Appointment</a>
                            </div>

                            
                           
                            <div class="c_video">
                                <a class="popup-youtube" href="/"><img src="/img/icon/title-icon.png" alt="">Service gallery </a>
                            </div>
                        </div>
                    </div>

                    <!-- Slider -->
                    <div class="col-lg-4 challange_img">
                        <div class="challange_img_inner">
                            <img class="img-fluid" src="<%= service.mainImg %>" alt="" width="100%">
                        </div>
                    </div>
                </div>
               
            </div>
        </section>
        <!--================End Challange Area =================-->
        
        <!--================Testimonials Slider Area =================-->
        

        <div class="c_title">
            <h2><%= service.nameService %> service gallery</h2>
        </div>
       
        <section class="gallery_area">
            <div class="container">
                <div class="testimonials_slider owl-carousel">
                    <% for( let index = 0; index <service.gallery.length; index++ ) { %>
                        <div class="item">
                            <div class="testi_item">
                                <a href="<%= service.gallery[index].path %>" target="_blank" rel="noopener noreferrer">
                                   <img class="gallery_item" src="<%= service.gallery[index].path %>" alt="<%= service.gallery[index].alternative %>">
                                </a>
                            </div>
                        </div>
                    <% } %>
                    
                </div>
            </div>
        </section>

        <%- include('./partials/serviceStatistics') %>
       
        
        <!--================Footer Area =================-->
        <%- include('./partials/footer') %>
        <!--================End Footer Area =================-->
    </body>
</html>