<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <!--================Slider Area =================-->
        

        <%- include('./partials/sliderIndex') %>
        <!--================End Slider Area =================-->
        
        <!--================Feature Area =================-->
        <section  class="feature_area">
            <div class="container">
                <div class="c_title">
                    <img id="extensions" src="img/icon/title-icon.png" alt="">
                    <h6>Discover my services</h6>
                    <h2>Extensions Services</h2>
                </div>
                <div class="row feature_inner">
                   
                    <% servicesExtensions.forEach(e => { %>
                        <div class="col-lg-6 col-sm-6 col-6">
                            <div class="feature_item">
                                <div class="f_icon">
                                    <img src="<%= e.mainImg %>" alt="<%= e.nameService %>">
                                </div>
                                <h4><%= e.nameService %></h4>
                                <p><%= e.descriptionIndex  %></p>
                                <a class="more_btn" href="/services/<%= e.id %>">Read More</a>
                            </div>
                        </div>
                    <% }) %>
                  
                    
                </div>
            </div>
        </section>
        <!--================End Feature Area =================-->

         <!--================Feature Area =================-->
         <section class="feature_area">
            <div class="container">
                <div class="c_title">
                    <img id="eyebrows" src="img/icon/title-icon.png" alt="">
                    <h2>Eyebrows Services</h2>
                </div>
                <div class="row feature_inner">
                    <% servicesEyebrows.forEach(e => { %>
                        <div class="col-lg-4 col-sm-6 col-6">
                            <div class="feature_item">
                                <div class="f_icon">
                                    <img src="<%= e.mainImg %>" alt="<%= e.nameService %>">
                                </div>
                                <h4><%= e.nameService %></h4>
                                <p><%= e.descriptionIndex  %></p>
                                <a class="more_btn" href="/services/<%= e.id %>">Read More</a>
                            </div>
                        </div>
                    <% }) %>
                
                </div>
            </div>
        </section>


        
        
        <!--================The best slider Area =================-->
        <hr class="hr_special">
        <div class="c_title">
            <h2>Testimonials</h2>
        </div>
        <section class="best_3d_area">
            <div class="left_3d">
                <div class="shap_slider_inner owl-carousel">
                    <div class="item">
                        <h4>The best of the best!!!</h4>
                        <p>The only one who trusted my eyebrows and eyelashes!!</p>
                        <div class="media">
                            <img class="userInstagram" src="/img/instagram/user1.jpg" alt="">
                            <div class="media-body">
                                <h5>Nispacxo</h5>
                                <h6>
                                    <a href="https://www.instagram.com/nispacxo/" target="_blank" rel="noopener noreferrer" class="link_ig">@nispacxo</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h4>I love your job &#128525; &#128151;</h4>
                        <p>Since I found you. I feel very happy because it's just what I needed.</p>
                        <div class="media">
                            <img class="userInstagram" src="/img/instagram/user2.jpg" alt="">
                            <div class="media-body">
                                <h5>amantha Alfonso</h5>
                                <h6>
                                    <a href="https://www.instagram.com/samantha.alfonso/" target="_blank" rel="noopener noreferrer" class="link_ig">@samantha.alfonso </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h4>“I love your dedication”</h4>
                         <p>And the patience with which you fix my eyelashes and eyebrows, how detailed and clean you work, the best of the best.</p>
                        <div class="media">
                            <img class="userInstagram" src="/img/instagram/user3.jpg" alt="">
                            <div class="media-body">
                                <h5>Mirian Andrade</h5>
                                <h6>
                                    <a href="https://www.instagram.com/yosmenndez/" target="_blank" rel="noopener noreferrer" class="link_ig">@yosmenndez</a>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h4>“I cannot say enough positive things about Johansy’s Eyelashes. ”</h4>
                        <p>She always does a perfect job on my eyelashes. I’m always satisfied with my lashes whenever she finishes. You’re the best! </p>
                        <div class="media">
                            <img class="userInstagram" src="/img/instagram/user4.jpg" alt="">
                            <div class="media-body">
                                <h5>Mirian Andrade</h5>
                                <h6>
                                    <a href="https://www.instagram.com/olgachakour/" target="_blank" rel="noopener noreferrer" class="link_ig">@olgachakour</a>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h4>“Best lash tech &#128151;”</h4>
                        <p>Best lash tech</p>
                        <div class="media">
                            <img class="userInstagram" src="/img/instagram/user5.jpg" alt="">
                            <div class="media-body">
                                <h5>Mirian Andrade</h5>
                                <h6>
                                    <a href="https://www.instagram.com/michiii1213/" target="_blank" rel="noopener noreferrer" class="link_ig">@michiii1213</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="right_text">
                <div class="right_text_inner">
                    <div class="text_3d">
                        <div class="l_title">
                            <img src="img/icon/title-icon.png" alt="">
                            <h6>Discover the comments of our clients</h6>
                            <h2>Some customers</h2>
                        </div>
                        <p>Don't miss out on the feedback from our happy customers! On our website, you'll find genuine reviews about our eyebrow cleaning services and beauty products. Discover how we've transformed our clients' eyebrows and left a smile on their faces. Visit our comments section and immerse yourself in the real experiences of our community. Seize the opportunity to see what our customers are saying about us and join the list of satisfaction! </p>
                    </div>
                    <div class="shap_mobile">
                        <img src="img/comment/pinceles.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!--================End The best slider Area =================-->
        
        <!--================Team People Area =================-->
        <hr class="hr_special">
        <section class="team_people_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="team_people_text">
                            <div class="l_title">
                                <img id="courses" src="img/icon/title-icon.png" alt="">
                                <h6>Discover the courses</h6>
                                <h2>Extensions Courses</h2>
                            </div>
                            <p>Introducing our eyelash and brow expert: Learn the art of stunning lashes and perfectly shaped brows with our esteemed instructor. Master various techniques and industry trends through hands-on training. Receive personalized attention and continuous support throughout the course. Access top-of-the-line tools and premium materials. Exciting opportunities for internships and collaborations. Enroll now to become a lash and brow connoisseur. Turn heads, one lash and brow at a time!</p>
                            <ul>
                                <li>Anatomy of eyelashes</li>
                                <li>Phase of natural lashes</li>
                                <li>Thicknesses and curvatures</li>
                                <li>Correct touch-up protocol</li>
                                <li>Different effects: Classic</li>
                                <li>Introduction to Volume</li>
                                <li>Isolation and direction</li>
                                <li>Extension retention</li>
                                <li>Designing looks</li>
                                <li>Among others</li>
                            </ul>
                        </div>
                    </div>
                    <div id="conten-curses-img" class="col-lg-7" >
                        <img src="/img/cursos.png" alt="" width="100%">
                    </div>
                </div>
            </div>
        </section>
        <!--================End Team People Area =================-->
        
        <!--================Get in Touch Area =================-->
        <section class="get_in_touch_area">

            <div class="c_title">
                <h2>Send me a message!</h2>
            </div>


            <div class="container">
                <div class="row get_touch_inner">
                    <div class="col-lg-6">
                        <form class="contact_us_form row" action="/mail/contact" method="post" id="contactForm" novalidate="novalidate">
                            <div class="form-group col-lg-6">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="tel" class="form-control" id="phonne" name="phone" placeholder="Phone : starting with +1">
                            </div>
                            <div class="form-group col-lg-12">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" value="submit" class="btn submit_btn form-control">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div class="touch_details">
                            <div class="l_title">
                                <img src="img/icon/title-icon.png" alt="">
                                <h6>Say hello</h6>
                                <h2>Get in touch, send us an e-mail or call us</h2>
                            </div>
                            
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=+17867959170&amp;text=Hola,"><h5>Click here to go to our WhatsApp</h5></a>
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=+17867959170&amp;text=Hola,"><h4>+1 (786) 795-9170</h4></a>
                            <a href="tel:+1786795-9170"><h5>Call us now</h5></a>
                            <a href="tel:+1786795-9170"><h4>+1 (786) 795-9170</h4></a>


                            <a target="_blank" href="https://api.whatsapp.com/send?phone=+17867959170&amp;text=Hola," class="float whatsapp_1 float-bottom-right float-floating">
                                <i class="whatsapp-icon-x3" style="padding-right:0px!important;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Get in Touch Area =================-->
        
        <!--================Map Area =================-->
        <%- include('./partials/contactMap') %>

        <!--================End Map Area =================-->
        <%- include('./partials/footer') %>
    </body>
</html>