<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head-ES') %>
    <body>
        <%- include('./partials/header-ES') %>
        <!--================Slider Area =================-->
        

        <%- include('./partials/sliderIndex-ES') %>
        <!--================End Slider Area =================-->
        
        <!--================Feature Area =================-->
        <section  class="feature_area">
            <div class="container">
                <div class="c_title">
                    <img id="extensions" src="img/icon/title-icon.png" alt="">
                    <h6>Descubre mis servicios</h6>
                    <h2>Servicios de Extensiones</h2>
                </div>
                <div class="row feature_inner">
                   
                    <% servicesExtensions.forEach(e => { %>
                        <div class="col-lg-6 col-sm-6 col-6">
                            <div class="feature_item">
                                <div class="f_icon">
                                    <img src="<%= e.mainImg %>" alt="<%= e.nameService %>">
                                </div>
                                <h4><%= e.nameService %></h4>
                                <p><%= e.descriptionIndex  %></p>
                                <a class="more_btn" href="/services/<%= e.id %>">Leer Más</a>
                            </div>
                        </div>
                    <% }) %>
                  
                    
                </div>
            </div>
        </section>
        <!--================End Feature Area =================-->

         <!--================Feature Area =================-->
         <section class="feature_area">
            <div class="container">
                <div class="c_title">
                    <img id="eyebrows" src="img/icon/title-icon.png" alt="">
                    <h2>Servicios de Cejas</h2>
                </div>
                <div class="row feature_inner">
                    <% servicesEyebrows.forEach(e => { %>
                        <div class="col-lg-4 col-sm-6 col-6">
                            <div class="feature_item">
                                <div class="f_icon">
                                    <img src="<%= e.mainImg %>" alt="<%= e.nameService %>">
                                </div>
                                <h4><%= e.nameService %></h4>
                                <p><%= e.descriptionIndex  %></p>
                                <a class="more_btn" href="/services/<%= e.id %>">Lear Más</a>
                            </div>
                        </div>
                    <% }) %>
                
                </div>
            </div>
        </section>


        
        
        <!--================The best slider Area =================-->
        <hr class="hr_special">
        <div class="c_title">
            <h2>Testimonios</h2>
        </div>
        <section class="best_3d_area">
            <div class="left_3d">
                <div class="shap_slider_inner owl-carousel">
                    <div class="item">
                        <h4>“El la mejor de las mejores!!!”</h4>
                        <p>La única en quien confió mis cejas y pestañas!!</p>
                        <div class="media">
                            <img class="userInstagram" src="/img/instagram/user1.jpg" alt="">
                            <div class="media-body">
                                <h5>Nisvelys Pacheco</h5>
                                <h6>
                                    <a href="https://www.instagram.com/nispacxo/" target="_blank" rel="noopener noreferrer" class="link_ig">@nispacxo</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h4>“Amo tu trabajo &#128525; &#128151;”</h4>
                        <p>Desde que te encontré me siento súper feliz por que es justo lo que necesitaba.</p>
                        <div class="media">
                            <img class="userInstagram" src="/img/instagram/user2.jpg" alt="">
                            <div class="media-body">
                                <h5>Samantha Alfonso</h5>
                                <h6>
                                    <a href="https://www.instagram.com/samantha.alfonso/" target="_blank" rel="noopener noreferrer" class="link_ig">@samantha.alfonso </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h4>“Me encanta tu dedicación ”</h4>
                         <p>y paciencia con que arreglas mis pestañas y mis cejas, lo detallista y lo limpio que trabajas, la mejor de la mejor</p>
                        <div class="media">
                            <img class="userInstagram" src="/img/instagram/user3.jpg" alt="">
                            <div class="media-body">
                                <h5>Yos Mendez</h5>
                                <h6>
                                    <a href="https://www.instagram.com/yosmenndez/" target="_blank" rel="noopener noreferrer" class="link_ig">@yosmenndez</a>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h4>“No puedo decir suficientes cosas positivas sobre las pestañas de Johansy.”</h4>
                        <p>Ella siempre hace un trabajo perfecto en mis pestañas. Siempre estoy satisfecha con mis pestañas cada vez que termina. ¡Ella es el mejor! </p>
                        <div class="media">
                            <img class="userInstagram" src="/img/instagram/user4.jpg" alt="">
                            <div class="media-body">
                                <h5>Olga Chakour</h5>
                                <h6>
                                    <a href="https://www.instagram.com/olgachakour/" target="_blank" rel="noopener noreferrer" class="link_ig">@olgachakour</a>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h4>“La mejor técnica de pestañas &#128151;”</h4>
                        <p>La mejor técnica de pestañas</p>
                        <div class="media">
                            <img class="userInstagram" src="/img/instagram/user5.jpg" alt="">
                            <div class="media-body">
                                <h5>Mirian Andrade</h5>
                                <h6>
                                    <a href="https://www.instagram.com/michiii1213/" target="_blank" rel="noopener noreferrer" class="link_ig">@michiii1213</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="right_text">
                <div class="right_text_inner">
                    <div class="text_3d">
                        <div class="l_title">
                            <img src="img/icon/title-icon.png" alt="">
                            <h6>Descubre los comentarios de nuestros clientes</h6>
                            <h2>Algunos clientes</h2>
                        </div>
                        <p>¡No te pierda los comentarios de nuestros felices clientes! En nuestro sitio web, encontrará reseñas genuinas sobre nuestros servicios de limpieza de cejas y productos de belleza. Descubre cómo hemos transformado las cejas de nuestros clientes y dejado una sonrisa en sus rostros. Visita nuestra sección de comentarios y sumérgete en las experiencias reales de nuestra comunidad. ¡Aproveche la oportunidad de ver lo que nuestros clientes dicen sobre nosotros y únase a la lista de satisfacción! </p>
                    </div>
                    <div class="shap_mobile">
                        <img src="img/comment/pinceles.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!--================End The best slider Area =================-->
        
        <!--================Team People Area =================-->
        <hr class="hr_special">
        <section class="team_people_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="team_people_text">
                            <div class="l_title">
                                <img id="courses" src="img/icon/title-icon.png" alt="">
                                <h6>Descubre los cursos</h6>
                                <h2>Cursos de Extensiones</h2>
                            </div>
                            <p>Presentamos a nuestra experta en pestañas y cejas: aprenda el arte de pestañas impresionantes y cejas perfectamente formadas con nuestra estimada instructora. Domine varias técnicas y tendencias de la industria a través de capacitación práctica. Recibe atención personalizada y apoyo continuo durante todo el curso. Acceda a herramientas de primera línea y materiales de primera calidad. Emocionantes oportunidades para pasantías y colaboraciones. Inscríbase ahora para convertirse en un conocedor de pestañas y cejas. Cruza miradas, una pestaña y una ceja a la vez!</p>
                            <ul>
                                <li>Anatomía de las pestañas</li>
                                <li>Fase de pestañas naturales</li>
                                <li>Grosores y curvaturas</li>
                                <li>Protocolo de retoque correcto</li>
                                <li>Diferentes efectos: Clásico</li>
                                <li>Introducción al volumen</li>
                                <li>Aislamiento y dirección</li>
                                <li>Retención de extensiones</li>
                                <li>Diseño de looks</li>
                                <li>Entre otros</li>
                            </ul>
                        </div>
                    </div>
                    <div id="conten-curses-img" class="col-lg-7" >
                        <img src="/img/cursos.png" alt="" width="100%">
                    </div>
                </div>
            </div>
        </section>
        <!--================End Team People Area =================-->
        
        <!--================Get in Touch Area =================-->
        <section class="get_in_touch_area">

            <div class="c_title">
                <h2>Enviame un Mensaje!</h2>
            </div>


            <div class="container">
                <div class="row get_touch_inner">
                    <div class="col-lg-6">
                        <form class="contact_us_form row" action="/mail/contact" method="post" id="contactForm" novalidate="novalidate">
                            <div class="form-group col-lg-6">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre Completo">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Correo">
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="tel" class="form-control" id="phonne" name="phone" placeholder="Teléfono : iniciando con +1">
                            </div>
                            <div class="form-group col-lg-12">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Mensaje"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" value="submit" class="btn submit_btn form-control">Enviar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div class="touch_details">
                            <div class="l_title">
                                <img src="img/icon/title-icon.png" alt="">
                                <h6>Dinos Hola</h6>
                                <h2>Ponte en contacto, envíanos un e-mail o llámanos</h2>
                            </div>
                            
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=+17867959170&amp;text=Hola,"><h5>Click para ir a WhatsApp</h5></a>
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=+17867959170&amp;text=Hola,"><h4>+1 (786) 795-9170</h4></a>
                            <a href="tel:+1786795-9170"><h5>Llamanos Ahora</h5></a>
                            <a href="tel:+1786795-9170"><h4>+1 (786) 795-9170</h4></a>


                            <a target="_blank" href="https://api.whatsapp.com/send?phone=+17867959170&amp;text=Hola," class="float whatsapp_1 float-bottom-right float-floating">
                                <i class="whatsapp-icon-x3" style="padding-right:0px!important;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Get in Touch Area =================-->
        
        <!--================Map Area =================-->
        <%- include('./partials/contactMap-ES') %>

        <!--================End Map Area =================-->
        <%- include('./partials/footer-ES') %>
    </body>
</html>